*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    border: 3px solid red;
    min-height: 100vh;
    padding: 2.5em 2.5em;
    background-color: #00CC8C;

}
.hero{
    border: 3px solid yellow;
}
.details{
    border: 3px solid skyblue;
    text-align: center;
    background-color:#29414F;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.client-details{
    border: 3px solid blue;
    padding: 1em 1em;
    background-color: white;

}
.m-1{
    margin-bottom: 1em;
    padding: 1em;
}
.b-1{
    border: 3px solid green;
}
.company-address{
    display: flex;
}
.address{
    border: 3px solid rgb(126, 6, 126);
    width: 30%;
    margin-right: 8%;
}
.country{
    border: 3px solid rgb(126, 6, 126);
    width: 60%;
}
.city{
    display: flex;
}
.postal{
    display: flex;
}
.btn-submit{
    background-color: #00a47c;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 1em;
    margin-left: 50%;
}
span{
    color: red;
}
.none{
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
}
.area{
    border: none;
    border-bottom: 1px solid gray;
}
.area-none{
    border: none;

}
.dashed-border{
    border-style: dashed;
}